* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(24, 15, 42);
  color: #fff;
  padding: 16px;
}

input {
  border: none;
  border-bottom: 2px solid #fff;
  background-color: transparent;
  outline: none;
  color: #fff;
  margin-top: 5px;
}

.form {
  background-color: rgb(88, 50, 125);
  border-radius: 15px;
  height: 500px;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  width: 100%;
  max-width: 330px;
  padding: 32px;
  justify-content: space-evenly;
}

.input-group {
  display: flex;
  flex-direction: column;
  border: none;
  margin-top: 10px;
}

.submit {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

#submit-btn {
  border: none;
  background-color: rgb(197, 98, 187);
  padding: 10px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}

#submit-btn:hover {
  background-color: rgb(207, 155, 239);
  transition: 0.3s;
}

#create-btn {
  border: none;
  background-color: #fff;
  margin-top: 15px;
  background-color: transparent;
  outline: none;
  color: #fff;
}

#create-btn:hover{
  color: rgb(24, 15, 42);
  transition: 0.3s;
}

#hide {
  display: none;
  padding: 2px;  
}

img {
  filter: invert();
}
p {
  
  margin-left: 5px;
}
